<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{with .Title}} {{- . -}} {{ else }} Empty Title {{ end }}</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{- .StylePath -}}/static/styles.css">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="container">
        {{- template "nav" .Nav -}}
      </div>
    </nav>
    <!-- content -->
    <section class="content">
      {{- template "content" . -}}
    </section>
    <!-- footer -->
    <section class="footer">
      {{- template "footer" . -}}
    </section>
  </body>
</html>
