<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" >
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  {{ with .FaviconPath -}}
  <link rel="icon" type="image/x-icon" href="{{ . }}" />
  {{- end }}
  <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Home }}</title>
  <meta name="referrer" content="no-referrer" >
  <meta name="title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Home }}{{ end }}" >
  <!-- styles -->
  <link rel="stylesheet" href="{{- .StylePath -}}/static/styles.css">
  </head>
  <body>
    <header>
      {{- template "nav" . -}}
    </header>
    <hr />
    <!-- content -->
    <main>
      {{- template "content" . -}}
    </main>
    <!-- footer -->
    <footer>
      {{- template "footer" . -}}
    </footer>
  </body>
</html>
