<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" >
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>{{with .Title}} {{- . -}} {{ else }} Empty Title {{ end }}</title>
    <meta name="referrer" content="no-referrer" >
    <!-- styles -->
    <link rel="stylesheet" href="{{- .StylePath -}}/static/styles.css">
  </head>
  <body>
    <a href="{{ .Root }}refs.html" rel="noreferrer" class="title"><h1>{{ .Home }}</h1></a>
    <!-- navbar -->
    <nav>
      {{- template "nav" . -}}
    </nav>
    <!-- content -->
    <section class="content">
      {{- template "content" . -}}
    </section>
    <!-- footer -->
    <section class="footer">
      {{- template "footer" . -}}
    </section>
  </body>
</html>
