{{ define "content" }}
<div class="content">
  {{ with .Commit }}
  <div class="commit-info">
    <table class="striped">
      <tbody>
	<tr>
	  <th>
	    Author
	  </th>
          <td>
	    {{ .Author.Name }} {{ with .Author.Email -}}<a href="mailto: {{ . }}">{{ . }}</a>{{ end }}
	  </td>
	  <td>
	    {{ .Author.Date.Format "January 02, 2006" }}
	  </td>
	</tr>
	<tr>
	  <th>
	    Committer
	  </th>
          <td>
	    {{ .Committer.Name }} {{ with .Committer.Email -}}<a href="mailto: {{ . }}">{{ . }}</a>{{ end }}
	  </td>
	  <td>
	    {{ .Committer.Date.Format "January 02, 2006" }}
	  </td>
	</tr>
	<tr>
	  <th>
	    Commit
	  </th>
          <td>
	    <a href="{{ .Hash }}.html">{{ .Hash }}</a>
	  </td>
	</tr>
	{{ range .Parents -}}
	<tr>
	  <th>
	    Parent
	  </th>
          <td>
	    <a href="{{ . }}.html">{{ . }}</a>
	  </td>
	</tr>
	{{- end }}
      </tbody>
    </table>
  </div>
  <hr>
  <div class="message">
    {{- printf "%.*s" 50 .Head -}}
    <hr>
    {{ .Message }}
  </div>
  <hr>
  <div class="diffstat">
    <table class="stat">
      <tbody>
	{{ range .Stats }}
	<tr>
	  <td>{{ .Name }}</td>
	  <td class="addition">{{ if .Addition }}{{ printf "+%d" .Addition }}{{ end }}</td>
	  <td class="deletion">{{ if .Deletion }}{{ printf "-%d" .Deletion }}{{ end }}</td>
	</tr>
	{{ end }}
      </tbody>
    </table>
  </div>
  <hr>
  <div class="patches">
    <pre>
{{ range .Lines -}}
<span class="diff{{ .Type }}">{{ .Text }}</span>
{{- end -}}
    </pre>
  </div>
  {{ end }}
</div>
{{ end }}
