{{ define "content" }}
<content>
  <table class="striped commits">
    <thead>
      <tr>
	<th>Date</td>
	<th>Message</td>
	<th class="hidesmallscreen">Author</td>
	<th class="hidesmallscreen">Files</td>
	<th class="hidesmallscreen">Lines</td>
	<th>Ref</td>
      </tr>
    </thead>
    <tbody>
      {{- range .Log.Commits }}
      <tr class="commit">
	<td class="date">
	  {{ .Date.Format "Jan 02, 2006" }}
	</td>
	<td>
	  <a href="{{ printf "../c/%s.html" .Hash }}">{{- printf "%.*s" 25 .Message -}}</a>
	</td>
	<td class="hidesmallscreen">
	  {{ .Author }}
	</td>
	<td class="hidesmallscreen">
	  {{ .Stats.Files }}
	</td>
	<td class="hidesmallscreen">
	  <span class="deletions">{{ printf "-%d" .Stats.Deletions }}</span>/<span class="additions">{{ printf "+%d" .Stats.Additions }}</span>
	</td>
	<td>
	  {{- range .Refs }}
	  <span class={{ RefEnumToString .Type }}>{{ .Name }}</span>
	  {{ end -}}
	</td>
      </tr>
      {{ end -}}
    </tbody>
  </table>
</content>
{{ end }}
