{{ define "content" }}
<content>
  <table class="striped">
    <thead>
      <tr>
	<th>Branch</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Branches }}
      <tr>
	<td>
	  <a href="{{ . }}/index.html">{{ . }}</a>
	</td>
	<td>
	  <a href="{{ . }}/log.html">commits</a>
	</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ with .Tags -}}
  <table class="striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>Message</th>
	<th>Tagger</th>
	<th>Date</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
	<td>
	  <a href="c/{{ .Target }}.html">{{ .Name }}</a>
	</td>
	{{ if .IsAnnotated -}}
	<td>
	  {{ printf "%.*s" 50 .Head }}
	</td>
	{{ else -}}
	<td></td>
	{{- end }}
	<td>
	  {{ .Tagger }}
	</td>
	<td>
	  {{ .Date.Format "January 02, 2006" }}
	</td>
      </tr>
      {{- end }}
    </tbody>
  </table>
  {{- end }}
</content>
{{ end }}
